:root{
    --vermelho: #E50914;
    --preta:black;
}
       
              /*margens da pagina como todo*/

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
           
            /*Corpo do da pagina*/
body{
    background: var(--preta);                    /*Cor do corpo do Site*/
    font-family: 'Times New Roman', Times, serif;
} 

                /* logo e barra de menu*/
header .container{
     display: flex;                             /*libera o alinhamento*/
     flex-direction: row;                       /*alinhamento vertical*/
     align-items: center;                       /*alinhamento para o centro*/
     margin-left: 10px;                         /*separa os itens*/
     position: relative;                        /*Desloca um pouco as imagens*/
     bottom: 1px;                               /*deslocamento vertical*/
     top: 15px;                                 /*deslocamento vertical*/
     
    /*logo principal*/
}
header .logo{
    color: var(--vermelho);
    font-family: 'Arial black', times;
    font-size: 24px;                            /*tamanho da fonte*/
    position: relative;                         /*Desloca um pouco as imagens*/
    left: 46px                                  /*Deslocamento horizontal*/
}

/*menu com inicio, series..*/

header nav a{
    color: #aaa 
    text-decoration: none;                      /*Tira a sublinhação*/
    margin-right: 6px;                          /*separa um pouco os items entre se*/
    
}
a{
    position:relative;                          /*Desloca um pouco as imagens*/
    left: 100px;                                /*Deslocamento horizontal*/
}



/* SUB- MENU*/

.sub-menu{ 
    position:absolute;                          /*União dos itens*/
    left: 80%;
    top: 12px;
    color: #aaa ;
}



/*imagem e tela principal*/

.filme-principal  {
    font-size: 16px;
    background: linear-gradient(rgb(0,0,0,.50), rgb(0,0,0,.50)100%), url(../imagens/logo-stranger.jpg);
    
    position: relative;
    bottom: 1px;
    top: 30px;
    
    
    height: 600px;
    background-size: cover;                     /*Uma palavra-chave que é o inverso de contain. Ajusta a imagem o mais largamente possível e mantém sua proporção (a imagem não fica esticada). */

    display: flex;    
    flex-direction: column;                     /*colocar em coluna*/
    justify-content:center;                     /*centralizar a coluna*/
    align-items: flex-start;                    /*alinhar para esquerda*/

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
    
.filme-principal .description{
    margin-bottom: 40px;       
    margin-left: 25px;
}


.title{
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Arial', sans-serif;
    margin-top: 12%;
    margin-left: 25px;
}

       /*Botão com funções*/
.botao{
    border: none;
    background-color: black;
    color: white;

    padding: 15px 30px;
    margin-right: 12px;
    font-size: 15px;
    
    border-radius: 4px 2px ;
    padding: 10px 65px ;
    border: none;
    margin-left: 15px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}
i{
font-size: 16px;
margin-right: 8px;

}

/*Carrossel fimes*/

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}
